default_language_version:
  python: python3.9

default_stages: [commit, push]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: LICENSE

  - repo: https://github.com/kynan/nbstripout
    rev: 0.3.9
    hooks:
    - id: nbstripout

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: uv run isort --settings-path pyproject.toml
        types: [python]
        language: system

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: uv run flake8 --config flake8.cfg
        types: [python]
        language: system

  - repo: local
    hooks:
      - id: black
        name: black
        entry: uv run black --config pyproject.toml
        types: [python]
        language: system
